:root {
    /* Palette */
    --rose-800: hsl(332 51% 32%);
    --rose-50: hsl(330 100% 98%);

    --stone-900: hsl(24 5% 18%);
    --stone-600: hsl(30 10% 34%);
    --stone-150: hsl(30 18% 87%);
    --stone-100: hsl(30 54% 90%);

    --brown-800: hsl(14 45% 36%);

    --white: hsl(0 0% 100%);

    /* Typography */
    --young-serif: "Young Serif";
    --outfit: "Outfit"; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
        background-color: var(--stone-100);
    }

main {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 23.43rem;
    background-color: var(--white);
}

.recipe-image {
    width: 100%;
    
}

.content {
    padding: 2.5rem 2rem;
}

header {
 margin-bottom: 2rem;
}

.header-title {
    color: var(--stone-900);
    font-family: var(--young-serif);
    font-size: 2.25rem;
    font-weight:500;
    line-height: 100%;
    margin-bottom: 1.5rem;
}

.header-description, 
.nutrition-text {
    color: var(--stone-600);
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.preparation {
    background-color: var(--rose-50);
    font-family: var(--outfit);
    padding: 1.5rem;
    border-radius: .75rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preparation-time {
    color: var(--rose-800);
    line-height: 100%;
    font-size: 1.25rem;
    font-weight: 600;
}

.preparation-list {
    font-family: var(--outfit);
    list-style: none;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    
}

.preparation-list li {
    font-size: 1rem;
    color: var(--stone-600);
    display: flex;
    gap: 1.7rem;
    align-items: center;
}


.preparation-list .bullet {
    padding-left: .5rem;
    color: var(--rose-800);
    font-size: 1.25rem;
    line-height: 150%;
    
}

.bold {
    color: var(--stone-600);
    font-weight: bold;

}

.ingredients {
  font-family: var(--young-serif);
}

.ingredients-heading, 
.instructions-heading, 
.nutrition-heading {
    font-family: var(--young-serif);
    margin-bottom: 1.5rem;
    color: var(--brown-800);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 100%;
}

.ingredients-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}

.ingredients-list li {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: var(--outfit);
    font-size: 1rem;
    line-height: 150%;
    color: var(--stone-600);
}

.ingredients-list .bullet {
   color: var(--brown-800);
   padding-left: .5rem;
   font-size: 1.25rem;
}

.line {
    border: .5px solid var(--stone-150);
    margin: 2rem 0;
}

.instructions-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.instructions-list li {
    display: flex;
    gap: 1.2rem;
    font-family: var(--outfit);
    font-size: 1rem;
    line-height: 150%;
    color: var(--stone-600);
}

.number {
    padding-left: .5rem;
    color: var(--brown-800);
    font-weight: bold;
}

/* ---------- Nutrition table ---------- */

table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 1rem;
    margin-top: .5rem;

 
}

td, th {
    border-bottom: 1px solid var(--stone-150);
    padding-bottom: .5rem;
    text-align: left;
    font-family: var(--outfit);
    font-size: 1rem;
    line-height: 150%;
}

tr:last-child th, 
tr:last-child td {
  border-bottom: none;
}

th {
    padding-left: 2rem;
    font-weight: 400;
    color: var(--stone-600);
}

.value {
    padding-right: 1.7rem;
    font-weight: bold;
    color: var(--brown-800);
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
    font-weight: bold;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {


    main {
        padding: 8rem 3rem;
    }

    
    .card {
        background-color: var(--white);
        max-width: 38.5rem;
        border-radius: 1.5rem;
        padding: 2.5rem 2.5rem .8rem;
    }

    .content {
        padding: 2.5rem 0 0 0;
    }


    .recipe-image {
        border-radius: .75rem;
        height: 18.75rem;
        object-fit: cover;
    }

    .header-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1440px) {
    .card {
        max-width: 46rem;
        
    }
}