:root {
    /* Palette */
    --rose-800: hsl(332 51% 32%);
    --rose-50: hsl(330 100% 98%);

    --stone-900: hsl(24 5% 18%);
    --stone-600: hsl(30 10% 34%);
    --stone-150: hsl(30 18% 87%);
    --stone-100: hsl(30 54% 90%);

    --brown-800: hsl(14 45% 36%);

    --white: hsl(0 0% 100%);

    /* Typography */
    --young-serif: "Young Serif";
    --outfit: "Outfit"; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {

}

.card {
    width: 100%;
    max-width: 23.43rem;
}

.recipe-image {
    width: 100%;
}

.content {
    padding: 2.5rem 2rem;
}

header {
    margin-bottom: 2rem;
}

.header-title {
    color: var(--stone-900);
    font-family: var(--young-serif);
    font-size: 2.25rem;
    font-weight:500;
    line-height: 100%;
    margin-bottom: 1.5rem;
}

.header-description {
    color: var(--stone-600);
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.preparation {
    background-color: var(--rose-50);
    font-family: var(--outfit);
    padding: 1.5rem;
    border-radius: .75rem;
    margin-bottom: 2rem;
}

.preparation-time {
    color: var(--rose-800);
    line-height: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.preparation-list {
    list-style-type: none;
    line-height: 150%
}


.preparation-list div {
    display: flex;
    gap: 1.5rem;
    
}

.preparation-list div:not(:last-child) {
    margin-bottom: .5rem;
}

.preparation-list .bullet {
    color: var(--rose-800);
    margin-left: .5rem;
    align-self: center;
    font-size: 1.3rem;
}

.preparation-list li {
    color: var(--stone-600);
}

.preparation-list li span {
    font-weight: bold;
}

.ingredients {
    border: 1px solid red;
}

.ingredients-heading {
    color: var(--brown-800);
    font-family: var(--young-serif);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 1.5rem;
}

.ingredients-list {
    list-style-type: none;
}

.ingredients-list div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}

.ingredients-list .bullet {
    margin-left: .5rem;
}

.ingredients-list li:not(:last-child) {
    margin-bottom: .5rem;
}

.ingredients-list li {
    padding-left: .5rem;
    color: var(--stone-900);
    font-family: var(--outfit);
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    text-align: justify;
}



.attribution { 
    font-size: 0.6875rem; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}